{% extends "frontend/base.html.twig" %}

{% import 'frontend/macro/helpers.html.twig' as helper %}

{% block breadcrumbs %}
    {{
        helper.breadcrumbs(
            [
                { 'useRole' : false, 'route' : path('frontend_login'), 'title' : 'login'}
            ]
        )
    }}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <span class="anchor" id="formLogin"></span>
                <div class="card rounded-0">
                    <div class="card-header">
                        <h3 class="mb-0">Login</h3>
                    </div>
                    <div class="card-body">
                        {% include "frontend/includes/inc_flashes.html.twig" %}

                        <form class="form" role="form" autocomplete="off" id="formLogin" action="{{ path('frontend_login') }}" method="post">
                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    <i class="fa fa-exclamation-triangle"></i> <strong>Oh snap!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control form-control-lg rounded-0" />
                            </div>

                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="_password" class="form-control form-control-lg rounded-0" />
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked class="form-check-input"/>
                                    Remember me on this computer
                                </label>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button type="submit" class="btn btn-success btn-lg float-right">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}