{% macro breadcrumbs(crumbs) %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item{% if not crumbs | default %} active{% endif %}" aria-current="page">
                {% if not crumbs | default %}
                    Home
                {% else %}
                    <a href="{{ path('backend_index') }}">Dashboard</a>
                {% endif %}
            </li>
            {%  if crumbs | default %}
                {%  for crumb in crumbs %}
                    {% if crumb.useRole %}
                        {% if crumb.role | default and is_granted(crumb.role) %}
                            <li class="breadcrumb-item{% if not crumbs | default %} active{% endif %}" aria-current="page">
                                {% if loop.last %}
                                    {{ crumb.title }}
                                {% else %}
                                    <a href="{{ crumb.route }}">{{ crumb.title }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="breadcrumb-item{% if not crumbs | default %} active{% endif %}" aria-current="page">
                            {% if loop.last %}
                                {{ crumb.title }}
                            {% else %}
                                <a href="{{ crumb.route }}">{{ crumb.title }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ol>
    </nav>
{% endmacro breadcrumbs %}

{% macro list(columns, entities, actions = null, width = null, title = null, lastModified = null) %}
    <div class="{{ width | default('col-12 col-sm-10 mx-auto') }}">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">{{ title | default('title not found') }}</div>
                    <div class="card-body">
                        {% include "frontend/includes/inc_flashes.html.twig" %}

                        {% if columns | default and entities | default %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            {% for column in columns %}
                                                <th scope="col">{{ column.title }}</th>
                                            {% endfor %}
                                            {% if actions | default %}
                                                <th class="text-right" scope="col">Actions</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for entity in entities %}
                                        <tr>
                                            {% for column in columns %}
                                                <td {% if loop.first %}scope="row"{% endif %}>
                                                    {% set attribute = attribute(entity, column.method) %}
                                                    {% if column.dataType == 'boolean' %}
                                                        {{ attribute | default ? 'yes' : 'no' }}
                                                    {% elseif column.dataType == 'array' %}
                                                        {% if attribute | default %}
                                                            <ul>
                                                                {% for attr in attribute %}
                                                                    <li>{{ attr }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    {% else %}
                                                        {{  attribute | default('-') }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                            {% if actions | default %}
                                                <td>
                                                    <div class="btn-group pull-right" role="group">
                                                        {% for action in actions %}
                                                            {% if action.role | default and is_granted(action.role) and action.route | default %}
                                                                <a type="button"
                                                                    {%  if action.class %}class='{{ action.class }}{{ action.confirm ? " ask-confirm" : "" }}'{% endif %}
                                                                    href="{% if action.withEntityId %}{{ path(action.route, { id: entity.id }) }}{% else %}{{ path(action.route) }}{%  endif %}"
                                                                    {%  if action.confirm | default and action.confirmMessage | default %} data-confirm-message="{{ action.confirmMessage | trans }}"{% endif %}
                                                                   {%  if action.title %}title="{{ action.title|trans}}{%  endif %}"
                                                                >
                                                                    {%  if action.icon | default %}
                                                                        <i class="{{ action.icon }}"></i>
                                                                    {% endif %}
                                                                </a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-info">
                                No results were found.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro list %}

{% macro actionbar() %}
<div class="col-12 col-sm-10 mx-auto mb-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                    <a type="button" class="btn btn-success" href="{{ path('backend_language_create') }}"><i class="fa fa-plus"></i></a>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon2"><i class="fa fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="Search">
                    <a href="#search" class="btn btn-dark" role="group" aria-label="search-group">
                        <i class="fa fa fa-check-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro actionbar %}
