{% extends "frontend/base.html.twig" %}

{% import 'frontend/macro/helpers.html.twig' as helper %}

{% block breadcrumbs %}
    {{
        helper.breadcrumbs(
            [
                { 'useRole' : true, 'role' : 'ROLE_PROFILE_SHOW', 'route' : path('frontend_user_profile_show'), 'title' : 'profile'}
            ]
        )
    }}
{% endblock %}

{% block body %}
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0">{{ user.username }} <a href="{{ path('frontend_user_profile_edit') }}" class="pull-right"><i class="fa fa-pencil"></i></a></h3>
                            </div>
                            <div class="card-body">
                                {% include "frontend/includes/inc_flashes.html.twig" %}

                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                        <p class="card-text"><i class="fa fa-envelope"></i> {{ user.email }} </p>

                                        <p class="card-text"><i class="fa fa-legal"></i> Roles: </p>
                                        {% if user.roles | default %}
                                            <ul >
                                                {% for role in user.roles %}
                                                    <li>{{ role }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}