{% extends "backend/base.html.twig" %}

{% import 'backend/macro/helpers.html.twig' as helper %}

{% block breadcrumbs %}
    {{ helper.breadcrumbs() }}
{% endblock %}

{% block body %}
    <div class="col-12 col-sm-10 mx-auto">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    {% if is_granted('ROLE_USER_INDEX') %}
                        <div class="col-sm-12">
                            <a class="card text-white bg-warning text-center pt-2 mb-4" href="{{ path('backend_user_index') }}">
                                <div class="card-body card-title">
                                    <h1 class="m-b-2"><i class="fa fa fa-user-o display-2"></i></h1>
                                    <h6 class="text-light">Users</h6>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div><!--/row-->
    </div><!--col-->
{% endblock %}