{% extends "frontend/base.html.twig" %}

{% import 'frontend/macro/helpers.html.twig' as helper %}

{% block breadcrumbs %}
    {{
        helper.breadcrumbs(
            [
                { 'useRole' : true, 'ROLE' : 'ROLE_DISHWASHER_INDEX', 'route' : path('frontend_user_registration'), 'title' : 'registration'}
            ]
        )
    }}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <span class="anchor" id="formLogin"></span>
                <div class="card rounded-0">
                    <div class="card-header">
                        <h3 class="mb-0">The sink is not a dishwasher <i class="fa fa-smile-o"></i></h3>
                    </div>
                    <div class="card-body">
                        {% include "frontend/includes/inc_flashes.html.twig" %}

                        {% if user | default  %}
                            <p class="card-text">
                                {% if user.myTurn | default %}
                                    your luck has come to an end, it's your turn this week.
                                {% else %}
                                    you are safe, it's not your turn this week.
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}