<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            {% include "backend/includes/inc_meta.html.twig" %}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/backend.css' | revision) }}">
            {% include "backend/includes/inc_stylesheets.html.twig" %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "backend/includes/inc_header.html.twig" %}
        {% endblock %}

        {% block breadcrumbs %}{% endblock %}

        <div class="container py-5">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}
            {% include "backend/includes/inc_footer.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            {% include "backend/includes/inc_scripts.html.twig" %}
        {% endblock %}
    </body>
</html>
