{% extends "frontend/base.html.twig" %}

{% import 'frontend/macro/helpers.html.twig' as helper %}

{% block breadcrumbs %}
    {{
        helper.breadcrumbs(
            [
                { 'useRole' : false, 'route' : path('frontend_user_registration'), 'title' : 'registration'}
            ]
        )
    }}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <span class="anchor" id="formLogin"></span>
                <div class="card rounded-0">
                    <div class="card-header">
                        <h3 class="mb-0">Register</h3>
                    </div>
                    <div class="card-body">
                        {% include "frontend/includes/inc_flashes.html.twig" %}

                        {{ form_start(form) }}
                            {{ form_row(form.username) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.plainPassword.first) }}
                            {{ form_row(form.plainPassword.second) }}

                            <button type="submit" class="btn btn-success btn-lg float-right">Register</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}