{% extends "frontend/base.html.twig" %}

{% import 'frontend/macro/helpers.html.twig' as helper %}

{% block breadcrumbs %}
    {{
        helper.breadcrumbs(
            [
                { 'useRole' : true, 'role' : 'ROLE_PROFILE_SHOW', 'route' : path('frontend_user_profile_show'), 'title' : 'profile'},
                { 'useRole' : true, 'role' : 'ROLE_PROFILE_EDIT', 'route' : path('frontend_user_profile_edit'), 'title' : 'edit profile'},
                { 'useRole' : true, 'role' : 'ROLE_CHANGE_PASSWORD', 'route' : path('frontend_user_change_password'), 'title' : 'change password'}
            ]
        )
    }}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <span class="anchor" id="formLogin"></span>
                <div class="card rounded-0">
                    <div class="card-header">
                        <h3 class="mb-0">Change password</h3>
                    </div>
                    <div class="card-body">
                        {% include "frontend/includes/inc_flashes.html.twig" %}

                        {{ form_start(form) }}
                            {{ form_row(form.oldPassword) }}
                            {{ form_row(form.newPassword.first) }}
                            {{ form_row(form.newPassword.second) }}

                            <button type="submit" class="btn btn-success btn-lg float-right">Change</button>
                        {{ form_end(form) }}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('frontend_user_profile_edit') }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}