{% macro breadcrumbs(crumbs) %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item{% if not crumbs | default %} active{% endif %}" aria-current="page">
                {% if not crumbs | default %}
                    Domestic Manager
                {% else %}
                    {%  if app.user | default %}
                        <a href="{{ path('frontend_dishwasher_index') }}">Domestic Manager</a>
                    {% else %}
                        <a href="{{ path('frontend_user_registration') }}">Domestic Manager</a>
                    {% endif %}
                {% endif %}
            </li>
            {%  if crumbs | default %}
                {%  for crumb in crumbs %}
                    {% if crumb.useRole %}
                        {% if crumb.role | default and is_granted(crumb.role) %}
                            <li class="breadcrumb-item{% if not crumbs | default %} active{% endif %}" aria-current="page">
                                {% if loop.last %}
                                    {{ crumb.title }}
                                {% else %}
                                    <a href="{{ crumb.route }}">{{ crumb.title }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="breadcrumb-item{% if not crumbs | default %} active{% endif %}" aria-current="page">
                            {% if loop.last %}
                                {{ crumb.title }}
                            {% else %}
                                <a href="{{ crumb.route }}">{{ crumb.title }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ol>
    </nav>
{% endmacro  %}