<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand">DOMESTIC MANAGER</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% if app.user | default %}
                <ul class="navbar-nav ml-auto pull-left">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('frontend_dishwasher_index') }}">Check</a>
                    </li>
                </ul>
            {% endif %}
            <ul class="navbar-nav ml-auto">
                {% if app.user | default %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('backend_index') }}"><i class="fa fa-university" aria-hidden="true"></i></a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('frontend_user_profile_show') }}"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('frontend_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{  path('frontend_user_registration') }}"><i class="fa fa-registered" aria-hidden="true"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>