{% for label, messages in app.flashes(['success', 'warning', 'error', 'notice']) %}
    {% for message in messages %}
        {% if label == 'success' %}
            <div class="alert alert-success" role="alert">
                <i class="fa fa-check-circle-o"></i> <strong>Well done!</strong> {{ message }}
            </div>
        {% elseif label == 'notice' %}
            <div class="alert alert-info" role="alert">
                <i class="fa fa-info-circle"></i> <strong>Heads up!</strong> {{ message }}
            </div>
        {% elseif label == 'warning' %}
            <div class="alert alert-warning" role="alert">
                <i class="fa fa-exclamation-triangle"></i> <strong>Warning!</strong> {{ message }}
            </div>
        {% elseif label == 'error' %}
            <div class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation-triangle"></i> <strong>Oh snap!</strong> {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}