{% extends "backend/base.html.twig" %}

{% import 'backend/macro/helpers.html.twig' as helper %}

{% block breadcrumbs %}
    {{ helper.breadcrumbs() }}
{% endblock %}

{% block body %}
    <div class="col-12 col-sm-10 mx-auto">
        <div class="row">
            <div class="col-lg-12">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}