{% extends "backend/base.html.twig" %}

{% import 'backend/macro/helpers.html.twig' as helper %}

{% block breadcrumbs %}
    {{ helper.breadcrumbs() }}
{% endblock %}

{% block body %}
    <div class="col-12 col-sm-10 mx-auto mb-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <a type="button" class="btn btn-success" href="{{ path('backend_user_create') }}"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{
        helper.list(
            [
                {'title' : 'Username', 'method' : 'username', 'dataType' : 'text' },
                {'title' : 'Email', 'method' : 'email', 'dataType' : 'text' },
                {'title' : 'My Turn', 'method' : 'myTurn', 'dataType' : 'boolean' },
                {'title' : 'Did it / Busy', 'method' : 'doneDishes', 'dataType' : 'boolean' },
                {'title' : 'Snoozed', 'method' : 'isSnoozed', 'dataType' : 'boolean' },
                {'title' : 'Active', 'method' : 'isEnabled', 'dataType' : 'boolean' },
                {'title' : 'Roles', 'method' : 'roles', 'dataType' : 'array' },
            ],
            entities,
            [
                {'role' : 'ROLE_USER_EDIT', 'route': 'backend_user_edit', 'withEntityId' : true, 'class':  'btn btn-primary', 'title' : 'Edit', 'icon' : 'fa fa-pencil', 'confirm' : false, 'confirmMessage' : ""},
            ],
            'col-12 col-sm-10 mx-auto',
            'Overview'
        )
    }}
{% endblock %}