<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ asset('assets/foundation.css') }}">
</head>

<body>
<!-- <style> -->
<table class="body" data-made-with-foundation="">
    <tr>
        <td class="float-center" align="center" valign="top">
            <center data-parsed="">
                <style type="text/css" align="center" class="float-center">
                    .header {
                        background: #8a8a8a;
                    }

                    .header .columns {
                        padding-bottom: 0;
                    }

                    .header p {
                        color: #fff;
                        padding-top: 15px;
                    }

                    .header .wrapper-inner {
                        padding: 20px;
                    }

                    .header .container {
                        background: transparent;
                    }

                    table.button.facebook table td {
                        background: #3B5998 !important;
                        border-color: #3B5998;
                    }

                    table.button.twitter table td {
                        background: #1daced !important;
                        border-color: #1daced;
                    }

                    table.button.google table td {
                        background: #DB4A39 !important;
                        border-color: #DB4A39;
                    }

                    .wrapper.secondary {
                        background: #f3f3f3;
                    }
                </style>
                <table class="wrapper header float-center" align="center">
                    <tr>
                        <td class="wrapper-inner">
                            <table class="container">
                                <tbody>
                                <tr>
                                    <td>
                                        <table class="row collapse">
                                            <tbody>
                                            <tr>
                                                <th class="small-6 large-6 columns first">
                                                    <table>
                                                        <tr>
                                                            <th>
                                                                <p class="text-right">{{ dishwasher.username }} @</p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-6 large-6 columns last">
                                                    <table>
                                                        <tr>
                                                            <th>
                                                                <p class="text-right">Domestic Manager</p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="container float-center">
                    <tbody>
                    <tr>
                        <td>
                            <table class="spacer">
                                <tbody>
                                <tr>
                                    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="small-12 large-12 columns first last">
                                        <table>
                                            <tr>
                                                <th>
                                                    <h1>Hi {{ dishwasher.username }},</h1>
                                                    <p class="lead"></p>
                                                    <table class="callout">
                                                        <tr>
                                                            <th class="callout-inner primary">
                                                                <p>
                                                                    You are the chosen one this week.
                                                                </p>
                                                            </th>
                                                            <th class="expander"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
</table>
</body>

</html>