<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('backend_index') }}">BACKEND</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto pull-left">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('backend_index') }}">DASHBOARD</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if app.user | default %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('frontend_user_profile_show') }}"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>